@mixin block-elements() {
  address,
  blockquote,
  div,
  dl,
  fieldset,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  noscript,
  ol,
  p,
  pre,
  table,
  ul {
    @content;
  }
}

@mixin inline-elements() {
  a,
  abbr,
  acronym,
  b,
  bdo,
  big,
  br,
  button,
  cite,
  code,
  dfn,
  em,
  i,
  img,
  kbd,
  map,
  object,
  q,
  strong,
  samp,
  script,
  span,
  sub,
  sup,
  tt,
  var {
    @content;
  }
}
