@import 'config/selectors';

body {
  box-sizing: border-box;
  font-size: 16px;
}

@include block-elements() {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

section {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
